<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AC State</title>
</head>
<body>
<h1>AC State</h1>
<div>
    <p><strong>AC ID:</strong> <span th:text="${acState?.acId} ?: 'error'"></span></p>
    <p><strong>State:</strong> <span th:text="${acState?.acState} ?: 'error'"></span></p>
    <p><strong>Wind Speed:</strong> <span th:text="${acState?.windSpeed} ?: 'error'"></span></p>
    <p><strong>Temperature:</strong> <span th:text="${acState?.temp} ?: 'error'"></span></p>
    <p><strong>Room:</strong> <span th:text="${acState?.room} ?: 'error'"></span></p>
    <p><strong>Cost Per Hour:</strong> <span th:text="${acState?.costPerHour} ?: 'error'"></span></p>
</div>
</body>
</html>
